conda.enabled = true

params {
    tools {
        basescape = "${projectDir}/softwares/BaseSpaceCLI-1.6.2"
        bowtie2   = "${projectDir}/softwares/bowtie2-2.5.1"
        samtools  = "${projectDir}/softwares/samtools-1.18"
        fastp     = "${projectDir}/softwares/fastp-0.23.2"
        hisat2    = "${projectDir}/softwares/hisat2-2.2.1"
        kraken2   = "${projectDir}/softwares/kraken2-2.1.3"
        braken    = "${projectDir}/softwares/Bracken-2.9"
        braken_combine = "${projectDir}/softwares/Bracken-2.9/analysis_scripts"
        seqkit    = "${projectDir}/softwares/seqkit-2.10"
    }

    envs {
        braken_ntrpm = "${projectDir}/envs/aesop-braken.yaml"
    }

    taxonomy {
        nodes = "${projectDir}/databases/taxonomy/taxdump_20250211/nodes.dmp"
        names = "${projectDir}/databases/taxonomy/taxdump_20250211/names.dmp"
        rpip_pathogens = "${projectDir}/metadata/czid_rpip_vsp_pathogens_20240625.csv"
    }

    indices {
        phix = "${projectDir}/databases/bowtie2_db/phix_viralproj14015/phix174_index"
        ercc = "${projectDir}/databases/bowtie2_db/ercc92/ercc_index"
        hisat2 = "${projectDir}/databases/hisat2_db/human_index_20240725/human_full_hisat2"
        human_full = "${projectDir}/databases/bowtie2_db/human_index_20240725/human_full"
        kraken_braken =  "${projectDir}/databases/kraken2_db/aesop_kraken2db_20240619"
    }
}
